.contain-to-grid
{
	background-color: #111;
	border-bottom: 2px solid #222;
}

.top-bar
{
	background-color: #111;
	

	.logo
	{
		border-left: 2px solid #333;
		border-bottom: 2px solid #333;
		border-right: 2px solid #333;
		background-color: #111;
		border-radius: .3em;
	}
}

.top-bar-section li:not(.has-form) a:not(.button)
{
	background-color: #111;
}

@media only screen { }

@media only screen and (min-width: 40.063em) { 

	/* GLOBAL NAV BUTTONS */
	.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button)
	{
		border-left: 1px solid #333;
		border-right: 1px solid #333;
	}

	

}

@media only screen and (min-width: 64.063em) { }